* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: black;
    color: white;
}

.button {
    background-color: steelblue;
    color: white;
    text-decoration: none;
    border: solid 1px black;
    border-radius: 20px;
    padding: 5px 10px;
}

.index {
    width: 750px;
    display: block;
    margin: 20px 60px;
    line-height: 1.75;
    font-size: x-large;
}

main {
    width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.75;
}

.name {
    margin: 20px;    
}

.name img {
    width: 400px;
    margin-top: 20px;
}

.description{
    margin: 20px;
}

.ingredients {
    margin: 20px;
}

.steps {
    margin: 20px;
}